<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="com.pfafman.bleobserver" version="0.1.0">
  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>
  <name>BLE Observer</name>
  <description>Bluetooth Low Energy Observer</description>
  <author>Tim Pfafman</author>
  <keywords>bluetooth,low energy,smart, observer</keywords>
  <license>Apache 2.0</license>
  <js-module src="www/blsObserver.js" name="BleObserver">
    <clobbers target="window.bleObserver" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BleObserverPlugin">
        <param name="android-package" value="com.pfafman.bleObserver.BleObserverPlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/BleObserver.java" target-dir="src/com/pfafman/bleobserver" />
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BleObserverPlugin">
        <param name="ios-package" value="BleObserverPlugin" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-central</string>
      </array>
    </config-file>
    <header-file src="src/ios/BleObserverPlugin.h" />
    <source-file src="src/ios/BleObserverPlugin.m" />
    <framework src="CoreBluetooth.framework" />
  </platform>
  <info>For more info: http://pfafman.com/</info>
</plugin>
